<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400603776245-qmrva4or1gj710lvq6sbn9g7dkk1hhe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400603776245-qmrva4or1gj710lvq6sbn9g7dkk1hhe8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>400603776245-fch1j282flv0h35o2pslf0ekktvdd6vt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDW1wHZxA4GX3vEocVn0dnMbZRyMOc02EY</string>
	<key>GCM_SENDER_ID</key>
	<string>400603776245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyebuddy.eyebuddy21</string>
	<key>PROJECT_ID</key>
	<string>eye-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>eye-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400603776245:ios:15af25401e8679dac131bc</string>
</dict>
</plist>